{% extends "base.html" %}
{% block content %}
<div class='container'>

<form name='my form' action='/' method='GET'>
    现在的心情：<br/>
    心情留言板：<br/>
    <textarea name='user_post' rows=3 cols=70></textarea><br/>
    <label for='user_id'>你的昵称：</label>
    <input id='user_id' type='text' name='user_id'>
    <label for='user_pass'>张贴/删除密码：</label>
    <input id='user_pass' type='password' name='user_pass'><br/>
    <input type='submit' value='张贴'>
    <input type='reset' value='清除重填'>
</form>
</div>
{% endblock %}
